<div class="center">
		<a href="https://github.com/Shaked/TicTacToe/tree/master/TicTacToe" target="_blank">
			GitHub - TicTacToe MinMax implementation	
		</a> 
</div>
<div id="restart">
		Restart Game 
</div>
<table align="center">
		<tr id="r0">
			<td class="t0"></td>
			<td class="t1"></td>
			<td class="t2"></td>
		</tr>
		<tr id="r1">
			<td class="t0"></td>
			<td class="t1"></td>
			<td class="t2"></td>
		</tr>
		<tr id="r2">
			<td class="t0"></td>
			<td class="t1"></td>
			<td class="t2"></td>
		</tr>
</table>